.color-drawing {
  width: 25vw;
  height: 8vh;
  background-color: #ca0af0;
  margin-top: 15vh;
  margin-left: 5vw;
}

.title {
  color: #000;
  font-size: 22px;
  font-weight: 500;
  padding: 35px 0px 0px 0px;
  margin-top: 40px;
  margin-left: 10vw;
  list-style-type: none;
  text-decoration: none;
}

.studys {
  display: flex;
  margin-top: 10vh;
  margin-left: 30vw;
}

.draw {
  margin-left: 2vw;
  width: 30vw;
  height: 30vh;
  padding: 20px 40px;
  background-color: rgba(128, 128, 128, 0.200);
}

.pictures {
  margin-top: 10px;
}

.link{
  list-style-type: none;
  text-decoration: none;
}