.footer {
  display: flex;
  width: 100vw;
  height: 50vh;
  background-color: #fff;
  color: #028ef2;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.logo-footer {
  margin-top: 70px;
}

.talk {
  width: 30%;
  height: 30vh;
  font-size: 12px;
  margin-top: 10vh;
  

}
.title-talk {
  background-color: #028ef2;
  color:#fff;
  padding: 20px;
  font-size: 18px;
}

.link {
  width: 30%;
  height: 30vh;
  text-align: center;
  margin-top: 10vh;
}

.data {
  width: 30%;
  height: 30vh;
  margin-top: 10vh;
}

.data-link {
  display: flex;
  width: 100%;
  font-size: 30px;
  gap: 30px;
}

.web {
  margin-top: 150px;
}

@media (min-width: 1025px) and (max-width: 1200px) {

}

@media (min-width: 769px) and (max-width: 1024px) {

}

@media (min-width: 401px) and (max-width: 768px) {

}