.footer {
  display: flex;
  width: 100vw;
  height: 40vh;
  background-color: #fff;
  color: #028ef2;
  justify-content: center;
  align-items: center;
}

.logo-footer {
  margin-top: 70px;
}

.talk {
  width: 30%;
  height: 40vh;
  font-size: 12px;
  margin-top: 20vh;
  

}
.title-talk {
  background-color: #028ef2;
  color:#fff;
  padding: 20px;
  font-size: 18px;
}

.link {
  width: 30%;
  height: 40vh;
  text-align: center;
  margin-top: 20vh;
}

.data {
  width: 30%;
  height: 40vh;
  margin-top: 20vh;
}

.data-link {
  display: flex;
  width: 100%;
  font-size: 30px;
  gap: 30px;
}

.web {
  margin-top: 150px;
}
