.cafe-box {
  display: flex;
  width: 50vw;
  margin-top: 20vh;
}

.cafe {
  margin-top: 70px;
  margin-left: 230px;
}

.cafe-talk {
  font-size: 40px;
  margin-top: 70px;
  margin-left: 100px;
}

.contact-box {
  display: flex;
}