.navbar {
  padding: 2rem;
  background-color: #000;
  color: #fff;
}

.navbar .nav-item a{
  color: #fff;
}

.navbar-nav .nav-link.active {
  color: grey;
}

.navbar-collapse {
  align-items: center;
  justify-content: space-between;
}