.image-jos {
  margin-left: 7vw;
  margin-top: 7vh;
}
.text-jos {
  width: 65%;
  font-size: 20px;
  margin-top: 7vh;
  margin-left: 7vw;
}

.logo-jos{
  margin-top: 10vh;
  margin-left: 25vw;
}
.titulo-jos {
  font-size: 25px;

  color: #028ef2;
  font-weight: 400;
  margin-top: 10vh;
  margin-left: 7vw;
}
