@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

.project {
  position: relative;
  padding: 0;
  margin: 0px;
}

.description {
  font-size: 15px;
  color: #fff;
}

.image-project {
  width: 100%;
  height: 100%;
  
  display: block;
  transition: all 0.2s ease;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-in;
  opacity: 0;
  margin-top: 40%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-overlay {
  position: relative;
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 0;
}

.image-project:hover{
  opacity: 0.1;
}

.overlay:hover{
  opacity: 1;
}

.picture{
  color: #fff;
  font-size: 30px;
  padding: 5px;
}

.icons-container {
  z-index: 1;
  padding: 5px;
}
.overlay i{
  color: #fff;
  z-index: 1;
  gap: 10px;
}
.marc{
  display: flex;
  justify-content: center;
}